name: Clean SVGs

on:
  push:
    paths:
      - '.github/workflows/svg-hush.yml'
      - '**.svg'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  clean:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # https://github.com/actions/cache/blob/main/examples.md#rust---cargo
      # https://github.com/rust-lang/cargo/issues/4725
      # https://doc.rust-lang.org/cargo/reference/environment-variables.html
      - name: Rust Package Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      # https://doc.rust-lang.org/cargo/guide/continuous-integration.html#github-actions
      - run: rustup update stable && rustup default stable
      - run: cargo install svg-hush --force
      - name: Clean SVGs in `src`
        run: |
          for file in $(find ${{ github.workspace }}/pages/src -iname '*.svg'); do
            echo "Sanitizing: $file"
            svg-hush $file > ${file}.tmp
            mv -f ${file}.tmp $file
          done
      - name: Clean SVGs in `public`
        run: |
          for file in $(find ${{ github.workspace }}/pages/public -iname '*.svg'); do
            echo "Sanitizing: $file"
            svg-hush $file > ${file}.tmp
            mv -f ${file}.tmp $file
          done
      - name: Check for Changes
        id: changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changes=true" >> $GITHUB_OUTPUT
          else
            echo "changes=false" >> $GITHUB_OUTPUT
          fi
      - name: Git Setup
        if: steps.changes.outputs.changes == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: git commit -am "Ran formatter"
        if: steps.changes.outputs.changes == 'true'
      - run: git push
        if: steps.changes.outputs.changes == 'true'
